In this notebook, we update `Event Definitions.csv` so that it contains all event ids

In [9]:
import numpy as np
import pandas as pd

In [26]:
events = pd.read_csv("data/Event Definitions.csv")

In [27]:
events.head()

,event_name,journey_id,event_definition_id,milestone_number,stage
0,application_phone_approved,1,15,1.0,Apply for Credit
1,application_phone_declined,1,16,NaN,Apply for Credit
2,application_phone_pending,1,17,NaN,Apply for Credit
3,application_web_approved,1,12,1.0,Apply for Credit
4,application_web_declined,1,13,NaN,Apply for Credit

In [5]:
actions = pd.read_csv("data/cleaned_dat_train1.csv")

In [6]:
actions.head()

,ed_id,event_name,event_timestamp,journey_steps_until_end,id
0,12,application_web_approved,2022-10-31 13:45:59+00:00,1,-1000001271 551641434
1,4,browse_products,2022-10-31 13:47:12+00:00,2,-1000001271 551641434
2,19,application_web_view,2022-10-31 13:47:36+00:00,3,-1000001271 551641434
3,19,application_web_view,2022-10-31 13:47:39+00:00,4,-1000001271 551641434
4,19,application_web_view,2022-10-31 13:47:41+00:00,5,-1000001271 551641434

In [7]:
new_event_example = actions[actions['ed_id'] == 1].iloc[0]

In [8]:
new_event_example

ed_id                                              1
event_name                         promotion_created
event_timestamp            2021-12-18 00:32:21+00:00
journey_steps_until_end                           22
id                               -100000293 92584960
Name: 28, dtype: object

In [28]:
# There are event ids in the range from 1 to 29
current_ids = events['event_definition_id'].unique()

for event_id in range(1, 30):
    if event_id not in current_ids:
        print(f"Adding row for event id {event_id}")
        new_event_example = actions[actions['ed_id'] == event_id].iloc[0]
        new_event = pd.DataFrame([{
            "event_name": new_event_example['event_name'],
            "journey_id": 1,
            "event_definition_id": event_id,
            "milestone_number": np.nan,
            "stage": np.nan
        }])
        events = pd.concat([events, new_event], ignore_index=True)

Adding row for event id 1
Adding row for event id 24

In [32]:
events = events.sort_values(by='event_definition_id').reset_index(drop=True)

In [33]:
events.head()

,event_name,journey_id,event_definition_id,milestone_number,stage
0,promotion_created,1,1,NaN,NaN
1,campaign_click,1,2,NaN,Discover
2,application_web_submit,1,3,NaN,Apply for Credit
3,browse_products,1,4,NaN,First Purchase
4,view_cart,1,5,NaN,First Purchase

In [34]:
events.to_csv("data/complete_event_definitions.csv", index=False)